<section class="row">
    <article class="col-md-12">
        <h1>Demo FaceTec POWERED BY JOSEBETO</h1>
    </article>
    <article class="col-md-12">

    </article>
    <article class="col-md-4">
        <button class="btn btn-success" (click)="startCredentials()">Obtener Credenciales SDK</button>
    </article>
    <article class="col-md-4">
        <button class="btn btn-success" (click)="inicializarScan()">Iniciar 3D Scan</button>
    </article>
    <article class="col-md-4">
        <button class="btn btn-danger">Cancelar</button>
    </article>
</section>
